.menu {
    background-color: var(--theme-color-menuBg);
    border-radius: 3px;
    box-shadow: 0 0 7px -3px var(--theme-color-windowShadowFg);
    overflow: hidden;
    animation: menu-appear-opacity 10ms;

    .menu-contents {
        width: 180px;
        padding: 8px 0;

        .menu-item {
            background-color: var(--theme-color-windowBg);
            padding: 8px 17px 7px;
            cursor: pointer;
            font-size: 13px;

            &:hover {
                background-color: var(--theme-color-windowBgOver);
            }
        }
    }

    &.br .menu-contents {
        animation:
            menu-appear-bottom 100ms forwards cubic-bezier(0, 0, 0, 1),
            menu-appear-right 100ms forwards cubic-bezier(0, 0, 0, 1);
    }

    &.bl .menu-contents {
        animation:
            menu-appear-bottom 100ms forwards cubic-bezier(0, 0, 0, 1),
            menu-appear-left 100ms forwards cubic-bezier(0, 0, 0, 1);
    }

    &.tr .menu-contents {
        animation:
            menu-appear-top 100ms forwards cubic-bezier(0, 0, 0, 1),
            menu-appear-right 100ms forwards cubic-bezier(0, 0, 0, 1);
    }

    &.tl .menu-contents {
        animation:
            menu-appear-top 100ms forwards cubic-bezier(0, 0, 0, 1),
            menu-appear-left 100ms forwards cubic-bezier(0, 0, 0, 1);
    }

    &.bl,
    &.tl {
        right: calc(100vw - var(--x));
        left: unset;
    }

    &.tr,
    &.tl {
        bottom: calc(100vw - var(--y));
        top: unset;
    }
}

@keyframes menu-appear-opacity {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes menu-appear-right {
    from { margin-right: -90px; }
    to { margin-right: 0; }
}

@keyframes menu-appear-bottom {
    from { margin-bottom: -50%; }
    to { margin-bottom: 0; }
}

@keyframes menu-appear-right {
    from { margin-right: -90px; }
    to { margin-right: 0; }
}

@keyframes menu-appear-top {
    from { margin-top: -50%; }
    to { margin-top: 0; }
}

@keyframes menu-appear-left {
    from { margin-left: -90px; }
    to { margin-left: 0; }
}
