.three-dots-menu {
    position: relative;
    float: right;

    .icon-button svg {
        width: 24px;
        height: 24px;
    }

    .menu {
        position: absolute;
        top: 35px;
        inset-inline-end: 0;
        z-index: 100;
    }

    &:hover .icon-button svg {
        fill: var(--theme-color-menuIconFgOver) !important;
    }
}

[dir="rtl"] .more-options {
    float: left;
}
