.three-dots-menu {
    position: relative;

    .icon-button svg {
        width: 24px;
        height: 24px;
    }

    .menu {
        position: absolute;
        top: 35px;
        inset-inline-end: 0;
        z-index: 100;

        .menu-contents {
            animation:
                menu-appear-bottom 100ms forwards cubic-bezier(0, 0, 0, 1),
                menu-appear-right 100ms forwards cubic-bezier(0, 0, 0, 1);
        }
    }
}
