#login-phone-number-country-selector-dialog > div {
    display: flex;
    flex-direction: column;
    height: 600px;
    max-height: calc(100% - 20px);

    .scrollbar {
        flex-grow: 1;
        border-top: 1px solid var(--theme-color-shadowFg);
        border-bottom: 1px solid var(--theme-color-shadowFg);
        margin-left: -13px;
        margin-right: -13px;
    }

    .country-select-item {
        font-weight: 500;
        cursor: pointer;

        &:hover {
            background-color: var(--theme-color-windowBgOver);
        }

        &:first-child {
            margin-top: 11px;
        }

        .content {
            padding: 7px 22px;
            pointer-events: none;
            position: relative;
            z-index: +1;
        }

        .codes {
            margin-left: 8px;
            font-weight: 400;
            color: var(--theme-color-windowSubTextFg);
        }
    }
}
