#auth.auth-step-phoneNumber {
    .status {
        margin: 11px;
    }

    .description {
        margin-top: 10px;
        margin-bottom: 38px;
    }

    .country-dropdown {
        padding: 11px 3px;
        border-bottom: 1px solid var(--theme-color-inputBorderFg);
        margin-bottom: 22px;
        user-select: none;
        cursor: pointer;

        span {
            float: right;
            margin-right: 4px;
            position: relative;
            top: 4px;

            svg {
                height: 14px;
                width: 14px;

                path {
                    stroke: var(--theme-color-menuIconFg);
                }
            }
        }
    }

    .phone-number-input {
        display: flex;

        .underlined-input:first-child {
            margin-right: 11px;
            flex-shrink: 0;
            width: 64px;

            input {
                text-align: center;
                padding-left: 0;
                padding-right: 0;
            }
        }

        .underlined-input:last-child {
            flex-grow: 1;
        }
    }
}
