#settings-change-language-dialog > div {
    display: flex;
    flex-direction: column;
    height: 600px;
    max-height: calc(100% - 20px);

    .box-search {
        margin-left: -13px;
        margin-right: -13px;
    }

    .scrollbar {
        flex-grow: 1;
        border-bottom: 1px solid var(--theme-color-shadowFg);
        margin-left: -13px;
        margin-right: -13px;
        margin-bottom: 8px;

        .track-vertical {
            top: 5px;
            right: 2px;
            bottom: -1px;
        }
    }

    .language-pack-item {
        font-weight: 500;
        cursor: pointer;
        position: relative;
        overflow: hidden;

        &:hover {
            background-color: var(--theme-color-windowBgOver);
        }

        .content {
            padding: 7px 23px;
            pointer-events: none;
            position: relative;
            z-index: +1;

            display: flex;
            align-items: center;

            .right {
                padding: 0 24px;

                .name,
                .english-name {
                    font-weight: 400;
                    line-height: 20px;
                }

                .english-name {
                    color: var(--theme-color-windowSubTextFg);
                }
            }
        }
    }
}
