#full-settings-dialog {
    > div {
        border-radius: 4px;
        overflow: hidden;
    }

    .dialog-content {
        background-color: var(--theme-color-boxBg);
        height: 610px;

        .outer {
            display: flex;
            flex-shrink: 0;
            flex-direction: column;
        }

        .header {
            padding: 11px 8px;
            height: fit-content;

            .back {
                margin-inline-end: -6px;
            }

            .title {
                display: inline-block;
                font-weight: 500;
                font-size: 16px;
                letter-spacing: 0.6px;
                margin: 9px 14.5px;
            }

            .close {
                float: right;
            }

            // Three dots button
            .more-options .icon-button {
                margin-inline-start: 4px;
            }

            > * {
                vertical-align: middle;
            }

            .icon-button svg {
                fill: var(--theme-color-cancelIconFg);
            }
        }

        .profile-info {
            background-color: var(--theme-color-boxBg) !important;
            padding: 15px 23px 14px;
            display: flex;

            > .profile-photo {
                height: 72px;
                width: 72px;
                display: block;
                float: left;

                .initials {
                    font-size: 28px;
                    font-weight: 400;
                }
            }

            > span {
                margin-inline-start: 20px;

                .name {
                    font-size: 16px;
                    font-weight: 500;
                    display: block;
                    margin-bottom: 0;
                    color: var(--theme-color-windowFg);
                }

                .status {
                    margin-top: 5px;
                    display: inline-block;
                    font-size: 12px;
                    font-weight: 400;
                    color: var(--theme-color-windowActiveTextFg);
                }
            }
        }

        .tool-strip-section  .tool-strip-button {
            font-weight: 400 !important;
        }

        .scrollbar {
            height: 500px;
            flex-grow: 1;

            .scroll-content {
                display: flex;
                flex-direction: column;
                padding-bottom: 3px;
            }
        }
    }
}

[dir="rtl"] #full-settings-dialog .dialog-content .header .close {
    float: left;
}
