#search-box {
    margin: 11px;
    position: relative;
    flex-grow: 1;

    input {
        width: 100%;
        box-sizing: border-box;
        height: 32px;
        padding: 10px;
        padding-inline-end: 26px; // Make space for close button
        margin: 0;

        border-radius: 3px;
        background-color: var(--theme-color-filterInputInactiveBg);
        border: 2px solid transparent;

        font-family: var(--font-family);
        color: var(--theme-color-windowFg);

        transition: background-color 200ms, border-color 200ms;

        &::placeholder {
            color: var(--theme-color-placeholderFg);
            transition: color 200ms;
            letter-spacing: -0.4px;
            text-indent: 2px; // Move a little to right
            user-select: none;
        }

        &:focus {
            border: var(--theme-color-filterInputBorderFg) solid 2px;
            background-color: var(--theme-color-filterInputActiveBg);

            &::placeholder {
                color: var(--theme-color-placeholderFgActive);
            }
        }
    }

    button {
        // Position to the right of the field
        position: absolute;
        inset-inline-end: 0;
        top: 0;

        border: none;
        padding: 2px;
        height: 32px;
        width: 32px;

        background-color: transparent;
        fill: var(--theme-color-dialogsMenuIconFg);

        cursor: pointer;

        transition: transform 100ms linear, opacity 100ms linear;

        &:hover {
            fill: var(--theme-color-dialogsMenuIconFgOver);
        }

        svg {
            height: 28px;
            width: 28px;
        }
    }

    button[data-visible="0"] {
        pointer-events: none;
        opacity: 0;
        transform: rotate(45deg) scale(0.7); // A small rotating animation
    }
}
