.history-message .content.text .link-preview {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-inline-start: 1px;
    border-inline-start: 2px solid var(--theme-color-msgInReplyBarColor);
    padding-left: 8px;

    .texts {
        unicode-bidi: plaintext;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
                line-clamp: 4; 
        -webkit-box-orient: vertical;

        .site-name {
            unicode-bidi: plaintext;
            font-weight: 500;
            color: var(--theme-color-msgInServiceFg);
        }
    
        .title {
            font-weight: 500;
            
            unicode-bidi: plaintext;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
                    line-clamp: 2; 
            -webkit-box-orient: vertical;
        }
    }

    .history-photo {
        margin-top: 5px;
        border-radius: 3px;
        overflow: hidden;
    }
}