.tool-strip-button {
    position: relative;
    overflow: hidden;
    height: 44px;
    cursor: pointer;
    background-color: var(--theme-color-windowBg);

    .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 8px;
        padding-inline-start: 26px;
        pointer-events: none;
    }

    .icon {
        display: inline-block;
        vertical-align: middle;
        width: 28px;
        height: 28px;
        margin-inline-end: 22px;

        svg {
            width: 28px;
            height: 28px;
            fill: var(--theme-color-menuIconFg);
        }
    }

    .title {
        display: inline-block;
        vertical-align: middle;
        font-size: 13px;
    }

    &:hover {
        background-color: var(--theme-color-windowBgOver);

        .icon svg {
            fill: var(--theme-color-menuIconFgOver);
        }
    }

    .right {
        float: right;

        .value {
            font-weight: 400;
            font-size: 14px;
            color: var(--theme-color-windowActiveTextFg);
            padding-inline-end: 30px;
        }
    }
}

#app[data-theme-is-dark=false] {
    .tool-strip-button {
        font-weight: 500;
    }
}

[dir=rtl] .tool-strip-button .right {
    float: left;
}
