#hamburger-menu-button {
    border: none;
    background: transparent;
    cursor: pointer;

    // Styles for ripple effect
    overflow: hidden;
    position: relative;

    #bars { // The three bars (container)
        position: relative;
        z-index: 1;
        pointer-events: none; // This is to make sure ripple effect gets correct position

        // Center the children
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span {
            height: 2px;
            width: 18px;
            display: block;
            background: var(--theme-color-dialogsMenuIconFg);
            margin: 1.5px;
        }
    }

    &.uses-folders {
        width: 100%;
        min-height: 54px;
        height: 54px;
        padding: 0;

        --theme-color-dialogsMenuIconFg: var(--theme-color-sideBarIconFg);
    }

    &.no-folders {
        margin-left: 7px;
        margin-right: -4px;
        flex-shrink: 0;
    }
}
