.compose-button {
    display: block;
    width: 100%;
    height: 46px;
    background-color: var(--theme-color-historyComposeButtonBg);
    border: none;
    color: var(--theme-color-windowActiveTextFg);
    font-weight: 500;

    text-transform: uppercase;
    cursor: pointer;

    overflow: hidden;
    position: relative;

    .content {
        position: relative;
        z-index: +1;
        pointer-events: none;
    }

    &:hover {
        background-color: var(--theme-color-historyComposeButtonBgOver);
    }
}