@import 'font/fonts.scss';
@import 'img/img-paths.scss';

@import 'elements/highlighted-button.scss';
@import 'elements/small-button.scss';
@import 'elements/underlined-input.scss';
@import 'elements/loading-spinner.scss';
@import 'elements/ripple-effect.scss';
@import 'components/connecting.scss';
@import 'dialog/dialog.scss';
@import 'dialog/confirm-dialog.scss';

@import 'auth/auth';
@import '../messenger/messengerWindow.scss';
@import '../messenger/ui/navigation-menu/chat-list-bar.scss';
@import '../messenger/ui/navigation-menu/chat-folders.scss';
@import '../messenger/ui/navigation-menu/hamburger-menu/menu-button.scss';

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    --font-family: 'OpenSans', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--theme-color-windowBg);
    color: var(--theme-color-windowFg);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root,
#app {
    height: 100%;
}

#app {
    display: flex;
}

:focus {
    outline: none;
}

::selection {
    background-color: var(--theme-color-msgInBgSelected);
}
