.modal-dialog.confirm-dialog {
    & > div {
        padding: 12px 13px;
        border-radius: 3px;
        font-size: 13px;
        line-height: 22px;
        letter-spacing: 0.23px;
        font-weight: 400;

        & > h1 {
            font-size: 16px;
            font-weight: 500;
            margin: 5px 10px 17px 10px;
            letter-spacing: 0.45px;
            min-height: 2px;
            color: var(--theme-color-boxTitleFg);
            user-select: none;
        }

        & > div.content {
            margin: 10px;
            margin-bottom: 20px;
            user-select: none;
            word-wrap: break-word;

            &.large-font {
                font-size: 14px;
                font-weight: 400;
            }
        }

        & > div.options {
            text-align: end;

            button:not(.left) {
                margin-inline-start: 8px;
            }
        }
    }
}

#app[data-theme-is-dark=true] .modal-dialog.modal-dialog > div {
    font-weight: 300;
    letter-spacing: 0.4px;

    & > div.options {
        font-weight: 400;
    }
}

#app[data-theme-is-dark=false] .modal-dialog.confirm-dialog > div {
    button.link-button {
        font-weight: 400;
    }
}
