.modal-dialog {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--theme-color-layerBg);
    display: flex;
    z-index: 100;
    animation: modal-dialog-appear 100ms linear;
    animation-fill-mode: forwards;

    &.closing {
        animation: modal-dialog-disappear 100ms linear;
        animation-fill-mode: forwards;
    }

    & > div {
        width: fit-content;
        box-sizing: border-box;
        background-color: var(--theme-color-boxBg);
        margin: auto;
        box-shadow: 0 0 15px -7px var(--theme-color-windowShadowFg);
        color: var(--theme-color-boxTextFg);
    }
}

@keyframes modal-dialog-appear {
    from {
        opacity: 0;
        z-index: 100;
    }

    to {
        opacity: 1;
        z-index: 100;
    }
}

@keyframes modal-dialog-disappear {
    from {
        opacity: 1;
        z-index: 100;
    }

    to {
        opacity: 0;
        z-index: 100;
    }
}
