.box-search {
    position: relative;
    border-bottom: 1px solid var(--theme-color-shadowFg);
    padding-bottom: 2px;
    padding-top: 7px;

    .icon {
        vertical-align: middle;
        margin-left: 17px;
        margin-right: 2px;
        position: relative;
        top: 5px;

        svg {
            height: 17px;
            width: 17px;
            fill: var(--theme-color-menuIconFg);
        }
    }

    input {
        background-color: transparent;
        border: none;

        vertical-align: middle;
        height: 40px;
        box-sizing: border-box;
        padding: 10px;
        padding-right: 26px; // Make space for close button
        margin: 0;

        font-family: var(--font-family);
        color: var(--theme-color-windowFg);

        transition: background-color 200ms, border-color 200ms;

        &::placeholder {
            color: var(--theme-color-placeholderFg);
            transition: color 200ms;
            letter-spacing: -0.4px;
            text-indent: 2px; // Move a little to right
            user-select: none;
        }
    }

    .clear {
        // Position to the right of the field
        position: absolute;
        right: 4px;
        bottom: 4px;

        background-color: transparent;

        cursor: pointer;

        transition: transform 100ms linear, opacity 100ms linear;

        &[data-visible="0"] {
            pointer-events: none;
            opacity: 0;
            transform: rotate(45deg) scale(0.7); // A small rotating animation
        }

        svg {
            height: 28px;
            width: 28px;
        }
    }
}
