#full-settings-dialog {
    > div {
        border-radius: 20px;
    }
    .dialog-content {
        background-color: var(--theme-color-windowBgOver) !important;
        height: 600px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;

        .header {
            h3 {
                display: inline;
            }
            #close-settings {
                float: right;
            }
            #more-options {
                float: right;
            }
            height: fit-content;
            padding: 20px;
        }

        .profile-info {
            padding: 20px;
            > div {
                .profile-photo {
                    height: 65px;
                    width: 65px;
                    display: inline-block;
                }
                .h4 {
                    display: inline;
                }
            }
            h6 {
                display: inline;
                height: min-content;
                color: gray;
            }
        }

        .tool-strip-section {
            background-color: var(--theme-color-boxBg) !important;
            .tool-strip-button {
                .value {
                    font-weight: 400;
                    font-size: 14px;
                    color: var(--theme-color-msgFileThumbLinkInFg);
                    padding-right: 30px;
                }
            }
        }

        .scrollbar {
            height: 500px;
            flex-grow: 1;

            .scroll-content {
                display: flex;
                flex-direction: column;
            }
        }
    }
}