.settings-dialog {
    > div {
        border-radius: 5px;
    }
    .dialog-content {
        background-color: var(--theme-color-windowBgOver) !important;
        height: 600px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;

        .header {
            h3 {
                display: inline;
            }
            #close-settings {
                float: right;
            }
            #more-options {
                float: right;
            }
            height: fit-content;
            padding: 20px;
        }

        .profile-info {
            padding: 20px;
            .profile-photo {
                height: 50px;
                width: 50px;
                display: inline-block;
            }
            h5 {
                display: inline;
            }
        }

        .tool-strip-section {
            background-color: var(--theme-color-boxBg) !important;
        }

        .scrollbar {
            height: 500px;
            flex-grow: 1;

            .scroll-content {
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: space-between; // Options on top and about on bottom, while still allowing scroll
            }
        }
    }
}