.history-service-message {
    font-size: 13px;
    letter-spacing: 0.1px;
    border-radius: 20px;
    background-color: var(--theme-color-msgServiceBg);
    color: var(--theme-color-msgServiceFg);
    padding: 3px 13px 4px;
    display: inline-block;
}

.history-message {
    margin-top: 8px;

    &.small-margin:not(.service+.small-margin) {
        margin-top: 3px;
    }

    .bubble-container {
        margin-inline-start: 16px;
        margin-inline-end: 57px;
        height: 100%;
        width: 430px;
        max-width: calc(100% - 57px - 16px);
        display: flex;
        align-items: flex-end;

        .profile-photo-c {
            margin-inline-start: -2px;
            margin-inline-end: 9px;
            flex-shrink: 0;
            width: 33px;
            position: relative;

            .profile-photo {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 33px;
                height: 33px;

                .initials {
                    font-size: 13px;
                    font-weight: 400;
                }
            }

        }
            
        .bubble {
            position: relative;
            border-radius: 6px;
            background-color: var(--theme-color-msgInBg);
            font-size: 13px;
            padding: 7px 13px;
            max-width: 100%;
            box-sizing: border-box;
            width: max-content;

            .message-sender {
                font-weight: 500;
                user-select: none;

                .color_0 { color: var(--theme-color-msgInServiceFg )}
                .color_1 { color: var(--theme-color-historyPeer1NameFg )}
                .color_2 { color: var(--theme-color-historyPeer2NameFg )}
                .color_3 { color: var(--theme-color-historyPeer3NameFg )}
                .color_4 { color: var(--theme-color-historyPeer4NameFg )}
                .color_5 { color: var(--theme-color-historyPeer5NameFg )}
                .color_6 { color: var(--theme-color-historyPeer6NameFg )}
                .color_7 { color: var(--theme-color-historyPeer7NameFg )}
                .color_8 { color: var(--theme-color-historyPeer8NameFg )}
            }

            .reply-to {
                margin-top: 6px;
                margin-bottom: 6px;
                margin-inline-start: 1px;
                border-inline-start: 2px solid var(--theme-color-msgInReplyBarColor);
                padding-left: 8px;
                user-select: none;

                .reply-sender {
                    font-weight: 500;
                    color: var(--theme-color-msgInServiceFg);
                }

                .text-container {
                    height: 18px;
                    position: relative;

                    .text {
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;

                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: block;
    
                        .part-1 {
                            color: var(--theme-color-msgInDateFg);
                        }
                    }
                }

                .placeholder {
                    padding: 9px 0;
                    color: var(--theme-color-msgInDateFg);
                }
            }

            &.has-tail {
                border-end-start-radius: 0;
            }

            .tail {
                position: absolute;
                bottom: 0;
                inset-inline-start: -6px;
                width: 6px;
                height: 10px;
                pointer-events: none;

                svg {
                    position: absolute; // For some reason the svg is moved down by 2px, this is a workaround
                    top: 0;
                    left: 0;
                    fill: var(--theme-color-msgInBg);
                }
            }
            
            &,
            .tail {
                box-shadow: 0 2px var(--theme-color-msgInShadow);
            }

            .content {
                white-space: pre-wrap;
                word-wrap: break-word;
                unicode-bidi: plaintext;

                a {
                    user-select: unset;
                }

                &.no-save {
                    user-select: none !important;
                }
            }

            .footer {
                float: right;
                margin-inline-start: 10px;
                position: relative;
                top: 5px;
                right: -2px;
                user-select: none;

                .text {
                    color: var(--theme-color-msgInDateFg);
                    display: inline-block;
                    position: relative;
                    top: -1px;
                }

                .tick svg{
                    width: 20px;
                    height: 13px;
                    fill: var(--theme-color-historyOutIconFg);
                    margin-inline-start: 8px;
                    margin-inline-end: -4px;
                }
            }

            .after {
                clear: right;
            }
        }
    }

    &.outgoing {
        .bubble-container {
            float: right;
            margin-inline-start: 57px;
            margin-inline-end: 16px;
            flex-direction: row-reverse;

            .bubble {
                background-color: var(--theme-color-msgOutBg);
                float: right;

                .reply-to {
                    border-color: var(--theme-color-msgOutReplyBarColor);

                    .reply-sender {
                        color: var(--theme-color-msgOutServiceFg);
                    }

                    .text-container .text .part-1,
                    .placeholder {
                        color: var(--theme-color-msgOutDateFg);
                    }
                }

                &.has-tail {
                    border-end-start-radius: 6px;
                    border-end-end-radius: 0;
                }

                .tail {
                    inset-inline-start: unset;
                    inset-inline-end: -6px;
                    transform: rotateY(180deg);
                    
                    svg {
                        fill: var(--theme-color-msgOutBg);
                    }
                }

                &,
                .tail {
                    box-shadow: 0 2px var(--theme-color-msgOutShadow);
                }

                .footer .time {
                    color: var(--theme-color-msgOutDateFg);
                }
            }
        }
    }

    &.service {
        margin-top: 10px;
        text-align: center;
        padding: 0 10px;
    }

    &.service+& {
        margin-top: 10px;
    }
}
