.history-service-message {
    font-size: 13px;
    letter-spacing: 0.1px;
    border-radius: 20px;
    background-color: var(--theme-color-msgServiceBg);
    color: var(--theme-color-msgServiceFg);
    padding: 3px 13px 4px;
    display: inline-block;
}
