.history-message .content pre[style] {
    padding: 0 !important;
    background: none !important;
    display: block !important;
    line-height: 18px;
    padding-top: 1px !important;
    margin-bottom: -19px;
}