.big-highlighted-button {
    display: block;
    width: 100%;
    height: 56px;

    border: none;
    background: var(--theme-color-activeButtonBg);
    color: var(--theme-color-activeButtonFg);
    border-radius: 5px;
    cursor: pointer;

    text-transform: uppercase;
    font: {
        family: OpenSans;
        size: 16px;
        weight: 500;
    }

    &:hover {
        // You may not have noticed it, but the button gets a little bit darker on hover.
        //    You don't believe me? Go check it!
        background-color: var(--theme-color-activeButtonBgOver);
    }

    // These are to make sure the ripple effect works correctly
    position: relative;
    overflow: hidden;
    .content {
        z-index: 1; // Bring to front

        // Use absolute position so z-index works
        top: 0; left: 0; right: 0; bottom: 0;
        position: absolute;

        // And center content
        display: flex;
        align-items: center;
        justify-content: center;
    }
}