.link-button {
    background: none;
    border: none;
    cursor: pointer;

    color: var(--theme-color-windowActiveTextFg);
    font-weight: 300;
    letter-spacing: 0.5px;
    font-family: var(--font-family);
    user-select: none;

    &:hover {
        text-decoration: underline;
        text-decoration-skip-ink: none;
    }
}
