:root {
    --ripple-duration: 400ms;
    --ripple-timing-function: cubic-bezier(0.25, 0.63, 0.58, 1); // My personal record of the highest time spent on 1 CSS property
}

.ripple {
    position: absolute;
    opacity: 1;

    &.pressed,
    &.released {
        animation: {
            name: ripple-press;
            fill-mode: forwards;
            duration: var(--ripple-duration);
            timing-function: var(--ripple-timing-function);
        };
    }

    &.released {
        transition: opacity 200ms;
        opacity: 0;
    }
}
@keyframes ripple-press {
    // It starts from a point in the same location as where the user clicked ...
    from {
        border-radius: 100%;
        left: var(--left);
        top: var(--top);
        width: 0;
        height: 0;
    }

    // ... And it slowly grows ...

    // Until it has fill all of the button
    to {
        border-radius: 100%;
        left: calc(var(--left) - var(--radius));
        top: calc(var(--top) - var(--radius));
        width: calc(var(--radius) * 2);
        height: calc(var(--radius) * 2);
    }
}

@keyframes ripple-release {
    from { opacity: 1; }
    to { opacity: 0; }
}
