button.small-button {
    border: none;
    background: transparent;
    padding: 8px 12px 9px 12px;
    border-radius: 4px;
    color: var(--theme-accent-color-text);
    text-transform: uppercase;
    font-family: 'OpenSans';
    font-weight: 500;
    font-size: 14px;
    &:hover {
        background-color: var(--theme-accent-color-small-button-hover-background);
    }
}