button.small-button {
    border: none;
    background: var(--theme-color-lightButtonBg);
    padding: 8px 12px 9px 12px;
    border-radius: 4px;
    color: var(--theme-color-lightButtonFg);
    text-transform: uppercase;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    user-select: none;

    &:hover {
        background-color: var(--theme-color-lightButtonBgOver);
        color: var(--theme-color-lightButtonFgOver);
    }

    // These are to make sure the ripple effect works correctly
    position: relative;
    overflow: hidden;

    .content {
        z-index: 1; // Bring to front

        // Use absolute position so z-index works
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;

        // And center content
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .invisibleText {
        visibility: hidden;
    }

    &[data-attention=true] {
        color: var(--theme-color-attentionButtonFg);

        &:hover {
            color: var(--theme-color-attentionButtonFgOver);
            background-color: var(--theme-color-attentionButtonBgOver);
        }

        .ripple {
            background-color: var(--theme-color-attentionButtonBgRipple) !important;
        }
    }
}
