.underlined-input {
    text-align: center; //TODO: This line seems to be unnecessary. Check it out.
    position: relative;

    .title {
        text-align: left;
        position: absolute;
        font-weight: 500;
        display: none; // Hidden by default
        transition:
            color       150ms linear,
            font-size   150ms linear,
            top         150ms linear,
            left        150ms linear;
    }

    .title.top {
        display: block;
        color: var(--theme-color-windowBgActive);
        font-size: 13px;
        top: -8px;
        left: 3px;
    }

    .title.placeholder {
        display: block;
        color: var(--theme-color-placeholderFg);
        font-size: 14px;
        top: 12px;
        left: 4px;
        pointer-events: none;
    }

    input {
        text-align: initial;
        border: none;
        border-bottom: 1px solid var(--theme-color-inputBorderFg);
        background-color: transparent;
        font-family: var(--font-family);
        box-sizing: border-box;
        width: 100%;
        color: var(--theme-color-windowFg);
        font-weight: 400;

        &[type=number] {
            -moz-appearance: textfield;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                appearance: none;
                margin: 0;
            }
        }
    }

    .underline {
        position: absolute;
        bottom: 0;
        height: 2px;
        background-color: var(--theme-color-activeLineFg);
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        opacity: 0;
    }

    &.inactive .underline {
        animation: {
            name: underlined-input-blur !important;
            duration: 200ms !important;
            fill-mode: forwards !important;
        };
    }

    &.autoFocus .underline {
        animation: none;
    }

    input:focus + .underline {
        animation: {
            name: underlined-input-focus;
            duration: 200ms;
            fill-mode: forwards;
        };
    }

    &.invalid {
        .underline.underline { // Specificity trick
            background-color: var(--theme-color-activeLineFgError) !important;
            animation-name: none !important;
            opacity: 1 !important;
            width: 100% !important;
            left: 0 !important;
            right: 0 !important;
        }

        .title {
            color: var(--theme-color-activeLineFgError) !important;
        }
    }
}

#app[data-theme-is-dark=true] .underlined-input input {
    font-weight: 300;
}

@keyframes underlined-input-focus {
    from {
        opacity: 1;
        width: 0;
        left: var(--mouse-left);
        right: calc(100% - var(--mouse-left));
    }

    to {
        opacity: 1;
        width: 100%;
        left: 0;
        right: 0;
    }
}

@keyframes underlined-input-blur {
    from {
        opacity: 1;
        width: 100%;
    }

    to {
        opacity: 0;
        width: 100%;
    }
}
