.underlined-input{
    text-align: center;
    position: relative;
    .title {
        text-align: left;
        position: absolute;
        font-weight: 500;
        display: none; // Hidden by default
        transition: color       150ms linear,
                    font-size   150ms linear,
                    top         150ms linear,
                    left        150ms linear;
    }
    .title.top{
        display: block;
        color: var(--theme-color-windowBgActive);
        font-size: 13px;
        top: -8px;
        left: 3px;
    }
    .title.placeholder{
        display: block;
        color: var(--theme-color-placeholderFg);
        font-size: 14px;
        top: 12px;
        left: 4px;
        pointer-events: none;
    }
    input {
        text-align: initial;
        border: none;
        border-bottom: 1px solid var(--theme-color-inputBorderFg);
        background-color: transparent;
        font-family: var(--font-family);
        box-sizing: border-box;
        width: 100%;
        color: var(--theme-color-windowFg);
        font-weight: 300;
    }
    input:focus+.underline {
        animation: {
            name: underlined-input-focus;
            duration: 200ms;
            fill-mode: forwards;
        };
    }
    .underline {
        position: absolute;
        bottom: 0;
        height: 2px;
        background-color: var(--theme-color-activeLineFg);
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        opacity: 0;
    }
}
.underlined-input.invalid {
    .underline.underline { // Specificity trick
        background-color: var(--theme-color-activeLineFgError) !important;
        animation-name: none !important;
        opacity: 1 !important;
        width: 100% !important;
        left: 0px !important;
        right: 0px !important;
    };
    .title {
        color: var(--theme-color-activeLineFgError) !important;
    };
}
.underlined-input.inactive .underline {
    animation: {
        name: underlined-input-blur !important;
        duration: 200ms !important;
        fill-mode: forwards !important;
    };
}
.underlined-input.autoFocus .underline {
    animation: none;
}
@keyframes underlined-input-focus {
    from {
        opacity: 1;
        width: 0px;
        left: var(--mouse-left);
        right: calc(100% - var(--mouse-left));
    }
    to {
        opacity: 1;
        width: 100%;
        left: 0px;
        right: 0px;
    }
}
@keyframes underlined-input-blur {
    from {
        opacity: 1;
        width: 100px !important;
    }
    to {
        opacity: 0;
        width: 100% !important;
    }
}