#auth {
    background-color: var(--theme-color-introBg);

    // Center content
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding: 0 calc(50% - 150px);

    .content {
        position: relative;
    }

    h2 {
        font-size: 17px;
        font-weight: 500;
        margin: 0;
        color: var(--theme-color-introTitleFg);
    }

    .description {
        font-size: 13px;
        color: var(--theme-color-introDescriptionFg);
        line-height: 20px;

        b,
        strong {
            font-weight: 500;
        }
    }

    .underlined-input input {
        padding: 11px;
        font-size: 17px;
    }

    .status {
        @extend .description;
        text-align: center;
        min-height: 20px; // Does not collapse if it is not shown
        transition: opacity 250ms;
        color: var(--theme-color-introErrorFg);

        &.hidden {
            opacity: 0;
        }
    }
}

#app[data-theme-is-dark=true] #auth h2 {
    font-weight: 400;
}
