#auth {
    background-color: var(--theme-color-introBg);

    // Center content
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding: 0 calc(50% - 150px);

    h2 {
        font-size: 17px;
        font-weight: 500;
        margin: 0;
        color: var(--theme-color-introTitleFg);
    }

    .description {
        font-size: 13px;
        color: var(--theme-color-introDescriptionFg);
        line-height: 20px;

        b,
        strong {
            font-weight: 500;
        }
    }

    .underlined-input input {
        padding: 11px;
        font-size: 17px;
    }

    .status {
        @extend .description;
        text-align: center;
        min-height: 20px; // Does not collapse if it is not shown
        transition: opacity 250ms;
        color: var(--theme-color-introErrorFg);

        &.hidden {
            opacity: 0;
        }
    }

    &.auth-step-phoneNumber {
        .status {
            margin: 10px;
        }

        .description {
            margin-top: 10px;
        }
    }

    &.auth-step-code {
        .underlined-input {
            input {
                padding: 11px 3px;
            }
            margin-top: 40px;
        }

        .status.status { // Increase specificity by using class two times
            height: 16px;
            line-height: unset;
            margin-bottom: 25px;
            margin-top: 25px;
            text-align: unset;
        }

        .description {
            margin-top: 10px;
        }
    }

    &.auth-step-password {
        .underlined-input {
            input {
                padding: 11px 3px;

                &[type=text] {
                    -webkit-text-security: disc;
                    margin: 11px 0;
                    line-height: 0;
                    font-size: 2em;
                    height: 25px;
                    padding: 0 3px;
                    letter-spacing: -2px;
                }
            }
        }

        .status.status {
            height: 16px;
            line-height: unset;
            margin-bottom: 29px;
            margin-top: 22px;
            text-align: unset;
            margin-left: 5px;
        }

        .hint {
            font-size: 13px;
            margin-left: 5px;
            margin-top: 17px;
            margin-bottom: 11px;
        }

        .description {
            margin-top: 10px;
            margin-bottom: 35px;
        }

        .forgot-password {
            margin-left: 5px;
        }
    }
}

#app[data-theme-is-dark=true] #auth h2 {
    font-weight: 400;
}
