#auth {
    width: 300px;
    margin: auto;

    h2 {
        font-size: 17px;
        font-weight: 500;
        margin: 0;
    }
    .description {
        font-size: 13px;
        color: var(--theme-color-text-secondary);
        line-height: 20px;
        b, strong {
            font-weight: 500;
        }
    }
    .underlined-input input {
        padding: 11px;
        font-size: 17px;
    }
    .status {
        @extend .description;
        text-align: center;
        min-height: 20px;
        transition: opacity 250ms;
        &.hidden {
            opacity: 0;
        }
    }




    &.auth-step-phoneNumber{
        .status {
            margin: 10px;
        }
        .description {
            margin-top: 10px;
        }
    }
    &.auth-step-code{
        .underlined-input {
            input {
                padding: 11px 3px;
            }
            margin-top: 40px;
        }
        .status.status {
            height: 16px;
            line-height: unset;
            margin-bottom: 25px;
            margin-top: 25px;
            text-align: unset;
        }
        .description {
            margin-top: 10px;
        }
    }
    &.auth-step-password{
        .underlined-input {
            input {
                padding: 11px 3px;
                text-security: disc;
                -webkit-text-security: disc;
            }
        }
        .status.status {
            height: 16px;
            line-height: unset;
            margin-bottom: 29px;
            margin-top: 22px;
            text-align: unset;
            margin-left: 5px;
        }
        .hint {
            font-size: 13px;
            margin-left: 5px;
            margin-top: 17px;
            margin-bottom: 11px;
        }
        .description {
            margin-top: 10px;
            margin-bottom: 35px;
        }
        .forgot-password {
            font-size: 13px;
            margin-left: 5px;
            a {
                color: var(--theme-accent-color-text);
                text-decoration: none;
            }
        }
    }
}

