#auth {
    width: 300px;
    margin: auto;

    h2 {
        font-size: 17px;
        font-weight: 500;
        margin: 0;
    }
    .description {
        font-size: 13px;
        color: var(--theme-color-text-secondary);
        line-height: 20px;
    }
    .underlined-input input {
        padding: 11px;
        font-size: 17px;
    }
    .status {
        @extend .description;
        text-align: center;
    }
}

#auth.auth-step-phoneNumber{
    .status {
        margin: 10px;
    }
    .description {
        margin-top: 10px;
    }
}
