#auth {
    width: 300px;
    margin: auto;

    h2 {
        font-size: 17px;
        font-weight: 500;
        margin: 0;
    }
    .description {
        font-size: 13px;
        color: var(--theme-color-text-secondary);
        line-height: 20px;
        margin-top: 10px;
    }
}

// #auth.auth-step-phoneNumber{

// }