#messenger-screen #chat-folders-list {
    height: 100%;
    background-color: var(--theme-color-sideBarBg);
    display: flex;
    flex-direction: column;
    width: 72px;
    flex-shrink: 0;

    .list {
        list-style: none;
        margin: 0;
        padding: 0;

        .track-horizontal,
        .track-vertical {
            z-index: 2;
        }

        .item {
            user-select: none;
            text-align: center;
            box-sizing: border-box;
            font-weight: 600;
            line-height: 16px;
            position: relative;
            overflow: hidden;

            button {
                background: none;
                border: none;
                padding: 6px;
                width: 100%;
                margin: 0;
                position: relative;
                z-index: 1;
                cursor: pointer;
                * { pointer-events: none; }
            }

            .icon svg {
                fill: var(--theme-color-sideBarIconFg);
                height: 36px;
                width: 36px;
            }

            .title {
                font-size: 11px;
                line-height: 16px;
                font-weight: 500;
                margin-top: -5px;
                color: var(--theme-color-sideBarTextFg);
            }

            &.active {
                background: var(--theme-color-sideBarBgActive);

                .icon svg {
                    fill: var(--theme-color-sideBarIconFgActive);
                }

                .title {
                    color: var(--theme-color-sideBarTextFgActive);
                }
            }
        }
    }
}
