#chat-list {
    color: white;
    margin: 0;
    padding: 0;
    list-style: none;

    position: absolute !important;
    left: 0;
    right: 0;
    top: 54px;
    bottom: 0;

    .chat {
        padding: 8px 10px;
        display: flex;
        flex-direction: row;

        .profile-photo {
            width: 46px;
            height: 46px;
            margin-right: 12px;
            flex-shrink: 0;
        }

        .content {
            flex: 1;
            font-size: 13px;
            font-weight: 400;
            overflow: hidden;

            .top {
                margin-top: 2px;
            }

            .bottom {
                margin-top: 6px;
            }

            .top,
            .bottom {
                display: flex;
                overflow: hidden;
                flex-direction: row;
                justify-content: space-between;
                height: 18px;
            }

            .left,
            .right {
                overflow: hidden;
                display: flex;
            }

            .right {
                flex-shrink: 0;
            }

            .title,
            .last-message {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .title {
                color: var(--theme-color-dialogsNameFg);
            }

            .type-icon svg {
                width: 18px;
                height: 13px;
                fill: var(--theme-color-dialogsChatIconFg);
                margin-right: 4px;
                margin-top: 3px;
            }

            .last-message {
                letter-spacing: -0.1px; // We can't make the text lighter as the closest lighter font is too light. However, we can make it less wide

                .part-1 {
                    color: var(--theme-color-dialogsTextFgService);
                }

                .part-2 {
                    color: var(--theme-color-dialogsTextFg);
                }
            }
        }
    }
}
