#messenger-screen #navigation-menu #chat-folders-list {
    height: 100%;
    background-color: var(--theme-color-chat-folders-background);
    display: flex;
    flex-direction: column;
    width: 72px;
    flex-shrink: 0;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}
