#chat-list {
    color: white;
    margin: 0;
    padding: 0;
    list-style: none;

    position: absolute !important;
    left: 0;
    right: 0;
    top: 54px;
    bottom: 0;

    .empty {
        text-align: center;
        color: var(--theme-color-windowSubTextFg);
        margin-top: 53px;
        font-size: 13px;
        letter-spacing: -0.15px;

        .link-button {
            margin-top: 17px;
        }
    }

    .chat {
        padding: 8px 10px;
        display: flex;
        flex-direction: row;

        .profile-photo {
            width: 46px;
            height: 46px;
            margin-right: 12px;
            flex-shrink: 0;
        }

        .content {
            flex: 1;
            font-size: 13px;
            font-weight: 400;
            overflow: hidden;

            .top {
                margin-top: 2px;
            }

            .bottom {
                margin-top: 6px;
            }

            .top,
            .bottom {
                display: flex;
                overflow: hidden;
                flex-direction: row;
                justify-content: space-between;
                height: 18px;
            }

            .left,
            .right {
                overflow: hidden;
                display: flex;
            }

            .right {
                flex-shrink: 0;
            }

            .title,
            .last-message {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .title {
                color: var(--theme-color-dialogsNameFg);
                letter-spacing: 0.2px;
            }

            .type-icon svg {
                width: 18px;
                height: 13px;
                fill: var(--theme-color-dialogsChatIconFg);
                margin-right: 4px;
                margin-top: 3px;
            }

            .last-message {
                letter-spacing: -0.1px; // We can't make the text lighter as the closest lighter font is too light. However, we can make it less wide

                .sender,
                .part-1 {
                    color: var(--theme-color-dialogsTextFgService);
                    white-space: pre;
                }

                .part-2 {
                    color: var(--theme-color-dialogsTextFg);
                    white-space: pre;
                }
            }

            .pinned_icon svg {
                width: 20px;
                height: 20px;
                fill: var(--theme-color-dialogsUnreadBgMuted);
            }

            .verified-icon {
                width: 15px;
                height: 15px;
                position: relative;
                float: right;
                margin-left: 2px;

                .verified-icon-star svg {
                    position: absolute;
                    top: 1px;
                    left: 1px;
                    width: 15px;
                    height: 15px;
                    fill: var(--theme-color-dialogsVerifiedIconBg);
                }

                .verified-icon-check svg {
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    width: 10px;
                    height: 10px;
                    fill: var(--theme-color-dialogsVerifiedIconFg);
                }
            }

            .date {
                color: var(--theme-color-dialogsDateFg);
            }
        }
    }
}
