#chat-section > .headers > .title-bar {
    height: 54px;
    display: flex;
    background-color: var(--theme-color-topBarBg);

    > .back {
        margin: 7px;
        flex-shrink: 0;

        & + .title-bar-left {
            padding-inline-start: 0;
        }
    }

    .title-bar-left {
        flex-grow: 1;
        padding-inline-start: 15px;
        
        user-select: none;

        display: flex;
        overflow: hidden;

        .profile-photo {
            flex-shrink: 0;
            height: 40px;
            width: 40px;
            margin: 7px 0;
            margin-inline-end: 10px;
        }

        .text {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-width: 0;
            white-space: nowrap;

            .title, 
            .info {
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .title {
                font-size: 13px;
                font-weight: 500;
                color: var(--theme-color-dialogsNameFg);
    
                &:only-child {
                    font-size: 14px;
                }
            }
            .info {
                margin-top: 2px;
                font-size: 13px;
                font-weight: 400;
                color: var(--theme-color-windowSubTextFg);
            }
            .info.active {
                color: var(--theme-color-windowActiveTextFg);
            }
        }
    }
    .title-bar-right {
        flex-shrink: 0;
        padding: 0 7px;

        & > .three-dots-menu,
        & > .icon-button {
            float: none;
            margin: 7px 0;
            display: inline-block;
        }

        .icon-button.voice-chat svg {
            height: 24px;
            width: 24px;
        }
    }
}