.chat-list-bar-container {
    flex-shrink: 1 !important; // If it is 0, it can be resized indefinitely, and chat history will become under its minimum size.
    background: var(--theme-color-dialogsBg);
}

.chat-list-bar-resize-handle {
    left: unset !important;
    right: unset !important;
    inset-inline-end: -10px !important; // The handle is entirely on the right
    cursor: e-resize !important; // use <--> ( default is <|> )
    z-index: +1;
}

#chat-list-bar {
    height: 100%;
    min-width: 260px; // Resize component already has a minimum width, but it's not bad to have it here too

    .chat-list-header {
        display: flex;
        align-items: center;
    }

    .archived-chats {
        .chat-list-header {
            display: flex;
            position: relative;

            .icon-button svg {
                fill: var(--theme-color-cancelIconFg);
            }

            .icon-button {
                margin: 7px;
                flex-shrink: 0;
            }

            .unread-badge {
                span {
                    // Copied from ./chat-list.scss #chat-list .chat .details .unread-badge
                    background-color: var(--theme-color-dialogsUnreadBg);
                    color: var(--theme-color-dialogsUnreadFg);

                    padding: 0 4.5px;
                    padding-bottom: 1px;
                    margin-inline-start: 5px;

                    min-width: 19px;
                    height: 19px;
                    box-sizing: border-box;
                    border-radius: 9px;

                    text-align: center;
                    font-size: 13px;
                    display: inline-block;
                }

                position: absolute;
                z-index: +1;
                inset-inline-start: 0;
                width: 52px;
                top: 3px;
                text-align: end;
                pointer-events: none;
            }

            .title {
                flex-grow: 1;
                font-size: 14px;
                padding-bottom: 1px;
                margin-inline-start: -2px;
                letter-spacing: 0.3px;
                color: var(--theme-color-dialogsNameFg);
            }
        }
    }
}
