#chat-list-bar {
    height: 100%;
    min-width: 260px;
    position: relative;
    background: var(--theme-color-dialogsBg);

    .chat-list-header {
        display: flex;
        align-items: center;
    }
}
