#auth.auth-step-password {
    .underlined-input {
        input {
            padding: 11px 3px;

            &[type=text] {
                -webkit-text-security: disc;
                margin: 11px 0;
                line-height: 0;
                font-size: 2em;
                height: 25px;
                padding: 0 3px;
                letter-spacing: -2px;
            }
        }
    }

    .status.status {
        height: 16px;
        line-height: unset;
        margin-bottom: 29px;
        margin-top: 22px;
        text-align: unset;
        margin-left: 5px;
    }

    .hint {
        font-size: 13px;
        margin-left: 5px;
        margin-top: 17px;
        margin-bottom: 11px;
    }

    .description {
        margin-top: 10px;
        margin-bottom: 35px;
    }

    .forgot-password {
        margin-left: 5px;
    }
}
