#chat-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &.no-chat {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & > .headers {
        flex-shrink: 0;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            height: 1px;
            background-color: var(--theme-color-shadowFg);
            top: 100%;
            inset-inline-start: 0;
            inset-inline-end: 0;
        }
    }

    & > .history {
        flex-grow: 1;
    }

    & > .footer {
        min-height: 46px;
        flex-shrink: 0;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            height: 1px;
            background-color: var(--theme-color-shadowFg);
            bottom: 100%;
            inset-inline-start: 0;
            inset-inline-end: 0;
        }
    }
}

#messenger-screen:not(.single-column) #chat-section {
    & > .headers > *,
    & > .history,
    & > .footer {
        box-shadow: inset 1px 0 0 0 var(--theme-color-shadowFg);
    }

    & > .headers::after,
    & > .footer::after {
        inset-inline-start: 1px;
    }
}

#messenger-screen.three-column #chat-section {
    & > .headers > *,
    & > .history,
    & > .footer {
        box-shadow: inset 1px 0 0 0 var(--theme-color-shadowFg), inset -1px 0 0 0 var(--theme-color-shadowFg);
    }

    & > .headers::after,
    & > .footer::after {
        inset-inline-end: 1px;
    }
}
