#chat-container {
    background: var(--theme-color-chatBg);
    flex: 1 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 380px;

    .service-message {
        border-radius: 20px;
        background-color: var(--theme-color-msgServiceBg);
        color: var(--theme-color-msgServiceFg);
        padding: 3px 8px;
    }

    #headers {   
        min-height: 30px;
        #title-bar {
            padding: 15px;
            background-color: var(--theme-color-windowBg);
            border-color: var(--theme-color-windowBgRipple);
            border-style: solid;
            border-width: 1px;
            #info {
                font-size: 14px;
                color: var(--theme-color-chatBg);
            }
        }
        #icon-buttons {
            float: right;
            padding-bottom: 100px;
        }
    }
}
