#chat-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &.no-chat {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & > .headers {
        flex-shrink: 0;

        & > * {
            border-inline-start: 1px solid var(--theme-color-shadowFg);
        }
    }
}