.connectionState {
    position: absolute;
    left: 10px;
    bottom: 10px;
    padding: 5px;
    box-shadow: 0 0.5px 3px #777; // TODO: Use theme colors instead of hardcoded
    border-radius: 100%;
    transition: bottom 100ms linear;
    background: inherit;
    z-index: 2;

    &.connected {
        bottom: -32px;
    }
}
