.profile-photo {
    position: relative;
    height: 30px; // Default size
    width: 30px;

    overflow: hidden;
    border-radius: 50%;

    & > * {
        position: absolute; // Any child fills its parent
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .initials {
        display: flex;
        align-items: center; // Align to center
        justify-content: center;

        color: var(--theme-color-historyPeerUserpicFg);
        font-size: 18px;

        &.color_1 { background-color: var(--theme-color-historyPeer1UserpicBg); }
        &.color_2 { background-color: var(--theme-color-historyPeer2UserpicBg); }
        &.color_3 { background-color: var(--theme-color-historyPeer3UserpicBg); }
        &.color_4 { background-color: var(--theme-color-historyPeer4UserpicBg); }
        &.color_5 { background-color: var(--theme-color-historyPeer5UserpicBg); }
        &.color_6 { background-color: var(--theme-color-historyPeer6UserpicBg); }
        &.color_7 { background-color: var(--theme-color-historyPeer7UserpicBg); }
        &.color_8 { background-color: var(--theme-color-historyPeer8UserpicBg); }
    }

    .svg {
        background-color: var(--theme-color-historyPeerSavedMessagesBg); // The only 2 cases where SVG is used is for saved messages and replies.
        fill: var(--theme-color-historyPeerUserpicFg);
        height: 100%;
        width: 100%;

        svg {
            height: 100%;
            width: 100%;

            path {
                stroke: var(--theme-color-historyPeerUserpicFg);
            }
        }
    }
}
