#app[data-theme=classic] {
    @include app-theme-day;
    --theme-accent-color-main: rgb(64, 167, 227);
    --theme-accent-color-text: rgb(22, 138, 205);
    --theme-accent-color-input-underline: rgb(55, 163, 222);
    --theme-accent-color-small-button-hover-background: rgb(227, 241, 250);
    --theme-accent-color-big-button-active: rgb(32, 149, 208);
    --theme-accent-color-big-button-hover: rgb(57, 165, 219);
    --theme-accent-color-selection: rgb(187, 226, 252);
}