@mixin app-theme-day {
    --theme-color-background: rgb(255, 255, 255);
    --theme-color-text: rgb(34, 34, 34);
    --theme-color-text-secondary: rgb(153, 153, 153);
    --theme-color-input-border: rgb(224, 224, 224);
    --theme-color-input-invalid: rgb(228, 131, 131);
    --theme-color-chat-folders-background: rgb(41, 58, 76);
    --theme-color-hamburger-menu-button: rgb(131, 147, 163);
    --theme-color-modal-dialog: rgb(255, 255, 255);
}
#app[data-theme=day] {
    @include app-theme-day;
}