#chat-section > .history {
    position: relative;
    overflow: hidden;

    > .scrollbar {

        & > div:first-child {
            display: flex;
            flex-direction: column-reverse;
        }

        .thumb-vertical {
            position: absolute !important;
            bottom: 0px;
        }

        .history-scroll-content{
            min-height: 100%;
            box-sizing: border-box;
            
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: stretch;
            padding: 10px 0;
        }
    }
}